<form action="$base/products" method="get">
    <input id="keyword" name="keyword" type="text" size="20"/>
    <button id="search">
        <img src="$base/images/magnifier.png"/>
    </button>
</form>
