<html>
<head>
    <title>PetStore - Items</title>
</head>
<body>
#if ($itemList.Empty)
    <div id="out-of-stock"><p>No item left in inventory</p></div>
#else
    <p><span id="inventory-count">$itemList.size()</span> $display.plural($itemList.size(), "item") $display.plural($itemList.size(), "is", "are") available for purchase</p>

    <table id="items">
    <thead>
        <tr>
            <th>Reference number</th>
            <th>Description</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
    #foreach ($item in $itemList)
        <tr class="item">
            <td class="number">$item.Number</td>
            <td>$!item.Description</td>
            <td class="price">$item.Price</td>
        </tr>
    #end
    </tbody>
    </table>
#end
</body>
</html>