<html>
<head>
    <title>PetStore - Items</title>
</head>
<body>
<fieldset>
<legend>
#if ($itemList.Empty)
    <span id="out-of-stock">No item left in inventory</span>
#else
    <span id="inventory-count">$itemList.size()</span> $display.plural($itemList.size(), "item") $display.plural($itemList.size(), "is", "are") available for purchase
</legend>

    <table id="items">
    <thead>
        <tr>
            <th>Reference number</th>
            <th>Description</th>
            <th>Price</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    #foreach ($item in $itemList)
  #if( $velocityCount % 2 == 0 )
    #set( $style = 'evenrow' )
  #else
    #set( $style = 'oddrow' )
  #end

        <tr id="item_$item.Number" class="item $style">
            <td class="number">$item.Number</td>
            <td>$!item.Description</td>
            <td class="price">$item.Price</td>
            <td>
                <form action="cartitems" method="post">
                    <input type="hidden" name="item_number" value="$item.Number"/>
                    <button id="add_to_cart_$item.Number" type="submit">Add to cart</button>
                </form>
            </td>
        </tr>
    #end
    </tbody>
    </table>
</fieldset>
#end
</body>
</html>