<html>
<head>
    <title>PetStore - Products</title>
</head>
<body>
Found <span id="match-count">$productList.size()</span> result(s)
<table id="products">
<thead>
<tr>
	<th>Name</th>
	<th>Description</th>
</tr>
</thead>
#foreach ($product in $productList)
	<tr>
		<td>$product.Name</td>
		<td>$!product.Description</td>
	</tr>
#end
</table>
</body>
</html>