<html>
<head>
	<title>PetStore - Search</title>
</head>
<body>
<form action="searchResults" method="POST">
  <input id="query" type="text" name="query" value="" />
  <input id="search" type="submit" value="Search"/>
</form>
</body>
</html>