html {
	height: 100%
}

a {
	text-decoration: none;
}

img {
	border-width: 0;
}

body.petstore {
	margin: 0 auto;
	font: 100% "Georgia", "Arial", serif;
	height: 100%;
}

.content {
	width: 960px;
	position: relative;
	margin: 0 auto;
}

#wrapper {
	min-height: 100%;
	height: auto;
	margin: 0 auto -85px;
}

#header {
	width: 100%;
	height: 125px;
	background: transparent url(../images/bg.png) repeat-x;
	position: relative;
}

#content {
	color: #84a208;
}

#content a {
	color: black;
}

#content a:hover {
	color: #84a208;
}

#content img {
	border: solid #c5c5c5 1px;
}

#content div {
	float: right;
	padding-top: 30px;
	padding-right: 60px;
}

#search-box input {
	height: 24px;
	position: absolute;
	top: 29px;
	left: 731px;
	border: solid gray 2px;
	-moz-border-radius: 4px 0 0 4px;
}

#search {
	position: absolute;
	width: 34px;
	height: 30px;
	padding: 0;
	background-color: #c6ee22;
	top: 29px;
	left: 882px;
	border: solid gray 2px;
	-moz-border-radius: 0 4px 4px 0;
	cursor: pointer;
}

#search img {
	padding-top: 2px;
}

#footer {
	width: 960px;
	margin: 0 auto;
	color: #a1a1a1;
}

#footer, .push {
	height: 75px;
}

#logout-box {
	float: left;
}

#logout {
	background: none;
	border: none;
}

#footer a {
	float: right;
}

#footer span {
	float: right;
	margin-top: 10px;
	margin-right: 5px;
	line-height: 40px;
}


