<html>
<head>
    <title>PetStore - Checkout </title>
</head>
<body>
<fieldset>
    <legend>Billing Information</legend>
    
    <div id="summary">
        <ol class="calculations">
            <li>
                <span class="label">Total: </span>
                <span id="order-total" class="total">$cart.grandTotal</span>
            </li>
        </ol>
    </div>
</fieldset>
</body>
</html>