<form action="$base/items" method="get">
    <fieldset class="inputs">
        <ol>
            <li>
                <input id="keyword" name="keyword" type="text"/>
            </li>
        </ol>
    </fieldset>
    <fieldset class="buttons">
        <ol>
            <li class="commit">
                <button id="search" class="button" type="submit">Search</button>
            </li>
        </ol>
    </fieldset>
</form>			
