#macro( bind $path )
    #if("$!springHtmlEscape" != "")
        #set( $status = $springMacroRequestContext.getBindStatus($path, $springHtmlEscape) )
    #else
        #set( $status = $springMacroRequestContext.getBindStatus($path) )
    #end
#end

#macro( domId $attributes )
#if(${attributes.id})$attributes.id#else${status.expression}#end
#end

#macro( html $attributes )
    #foreach($attribute in $attributes.keySet())#if($attribute != "id")$attribute="${attributes.get($attribute)}"#end #end
#end

#macro( input $path $options )
    #bind($path)
    <input id="#domId($options)" type="text" name="${status.expression}" value="$!status.value" #html($options)/>
    #showErrors($options)
#end

#macro( showErrors $options )
    #if ($status.error)
    <ol id="#domId($options)-errors" class="errors">
        #foreach($error in $status.errorMessages)
        <li>$error</li>
        #end
    </ol>
    #end
#end