#macro( bind $path )
    #if("$!springHtmlEscape" != "")
        #set( $status = $springMacroRequestContext.getBindStatus($path, $springHtmlEscape) )
    #else
        #set( $status = $springMacroRequestContext.getBindStatus($path) )
    #end
#end

#macro( domId $attributes )
#if(${attributes.id})$attributes.id#else${status.expression}#end
#end

#macro( html $attributes )
    #foreach($attribute in $attributes.keySet())#if($attribute != "id")$attribute="${attributes.get($attribute)}"#end #end
#end

#macro( input $path $attributes )
    #bind($path)
    <input id="#domId($attributes)" type="text" name="${status.expression}" value="$!status.value" #html($attributes)/>
#end

