<html>
<head>
    <title>PetStore - Order receipt</title>
</head>
<body>
<div>
    <p>Thank you, your order has been confirmed.</p>
</div>
<fieldset id="order">
    <legend>Order #$order.number details</legend>
            <table id="order-details">
                <thead>
                <tr>
                    <th>Quantity</th>
                    <th>Item</th>
                    <th>Price</th>
                    <th>Total</th>
                </tr>
                </thead>
                <tbody>
                #foreach ($lineItem in $order.lineItems)
                    #if( $count % 2 == 0 )
                        #set( $rowStyle = 'evenrow' )
                    #else
                        #set( $rowStyle = 'oddrow' )
                    #end

                <tr id="line-item-$lineItem.itemNumber" class="$rowStyle">
                    <td class="count">$lineItem.quantity</td>
                    <td class="text">$!lineItem.itemDescription</td>
                    <td class="price">$lineItem.itemUnitPrice</td>
                    <td class="total">$lineItem.totalPrice</td>
                </tr>
                #end
        <tr id="summary">
            <td colspan="3" class="price">Grand Total:</td>
            <td class="total" id="order-total">$order.totalPrice</td>
        </tr>
                </tbody>
            </table>
</fieldset>

<fieldset id="payment-details">
    <legend>Payment details</legend>
    <ol>
        <li><label>Card type: </label><span>$order.paymentMethod.cardCommonName</span></li>
        <li><label>Card number: </label><span class="number">$order.paymentMethod.cardNumber</span></li>
        <li><label>Card expiry date: </label><span class="date">$order.paymentMethod.cardExpiryDate</span></li>
    </ol>
</fieldset>

<fieldset id="billing-address">
    <legend>Billing Address</legend>
    <ol>
        <li><label>First name: </label><span>$order.paymentMethod.billingAddress.firstName</span></li>
        <li><label>Last name: </label><span>$order.paymentMethod.billingAddress.lastName</span></li>
        <li><label>Email address: </label><span class="email">$order.paymentMethod.billingAddress.emailAddress</span></li>
    </ol>
</fieldset>

<div id="actions">
    <ol>
        <li><a id="continue-shopping" href="$base">Continue Shopping</a></li>
    </ol>
</div>
</body>
</html>