<html>
<head>
  <title>Checkout</title>
  <meta name="section" content="cart">
</head>
<body>
<div id="checkout">
  <span>Billing information - Cart total: <span id="cart-grand-total">{{total}}</span></span>
{{#errors}}
  paymentDetails
{{/errors}}
  <form id="order" action="/orders" method="post">
    <fieldset id="billing-address">
    <ol>
      <li>
        <label for="first-name">First name:</label>
        <input id="first-name" type="text" name="first-name" value="{{firstName}}" size="33"/>
      </li>
      <li>
        <label for="last-name">Last name:</label>
        <input id="last-name" type="text" name="last-name" value="{{lastName}}" size="33"/>
      </li>
      <li>
        <label for="email">Email:</label>
        <input id="email" type="text" name="email" value="{{email}}" size="33"/>
      </li>
    </ol>
    </fieldset>
    <fieldset id="payment-details">
    <ol>
      <li>
        <label for="card-type">Card type:</label>
        <select id="card-type" name="card-type">
{{#acceptedCards}}
            <option value="{{type}}"{{{selected}}}>{{name}}</option>
{{/acceptedCards}}
        </select>
      </li>
      <li>
        <label for="card-number">Card number:</label>
        <input id="card-number" type="text" name="card-number" value="{{cardNumber}}" size="33"/>
{{#errors}}
        paymentDetails.cardNumber
{{/errors}}
      </li>
      <li>
        <label for="expiry-date">Expiration date:</label>
        <input id="expiry-date" type="text" name="expiry-date" value="{{cardExpiryDate}}" size="33"/>
      </li>
    </ol>
    </fieldset>
    <fieldset class="actions">
      <ol>
        <li><a class="cancel" href="/">&laquo; continue shopping</a></li>
        <li><button type="submit" class="confirm">Submit order</button></li>
      </ol>
    </fieldset>
  </form>
</div>
</body>