<html>
<head>
    <title>PetStore - Checkout </title>
</head>
<body>
<fieldset>
    <legend>Billing Information - Cart Total: <span id="cart-grand-total">$cart.grandTotal</span></legend>

    #springBind( "paymentDetails" )
    #if ($status.error)
    <div>
    <ol id="global-errors" class="errors">
        #foreach($error in $status.errorMessages)
        <li>$error</li>
        #end
    </ol>
    </div>
    #end

    <form id="checkout" action="$base/purchases" method="post">
        <fieldset id="billing-address">
            <ol>
                <li>
                    <label for="first-name">First name</label>
                    <input id="first-name" name="billingAddress.firstName" type="text" value="$!paymentDetails.billingAddress.firstName"/>
                </li>
                <li>
                    <label for="last-name">Last name</label>
                    <input id="last-name" name="billingAddress.lastName" type="text" value="$!paymentDetails.billingAddress.lastName"/>
                </li>
                <li>
                    <label for="email">Email</label>
                    <input id="email" name="billingAddress.emailAddress" type="text" value="$!paymentDetails.billingAddress.emailAddress"/>
                </li>
            </ol>
        </fieldset>
        <fieldset id="payment">
            <ol>
                <li>
                    <label for="card-type">Card type</label>
                    #springBind( "paymentDetails.cardType" )
                    <select id="card-type" name="cardType">
                        #foreach($cardType in $cardTypes)
                            <option value="$cardType" #if($!status.value == $cardType) selected="selected"#end>$cardType.commonName</option>
                        #end
                    </select>
                </li>
                <li>
                    <label for="card-number">Card number</label>
                    #input("paymentDetails.cardNumber", {"id": "card-number"})
                    #if ($status.error)
                    <ol id="card-number-errors" class="errors">
                        #foreach($error in $status.errorMessages)
                        <li>$error</li>
                        #end
                    </ol>
                    #end
                </li>
                <li>
                    <label for="expiry-date">Expiration date</label>
                    <input id="expiry-date" name="cardExpiryDate" type="text" value="$!paymentDetails.cardExpiryDate"/>
                </li>
            </ol>
        </fieldset>
        <fieldset>
            <ol>
                <li>
                    <button id="submit" type="submit">Submit Order</button>
                </li>
            </ol>
        </fieldset>
    </form>
</fieldset>
</body>
</html>