<html>
<head>
    <title>PetStore - Checkout </title>
    <meta name="section" content="cart">
</head>
<body>

<div id="cash">
	<span>Billing information - Cart total: <span id="cart-grand-total">$cart.grandTotal</span></span>

    #springBind( "paymentDetails" )
    #showErrors({"id": "payment-details"})
                         
    <form id="order-form" action="$base/purchases" method="post">
       <ul>
         <li> 
            <label for="first-name">First name:</label> 
            #input("paymentDetails.billingAddress.firstName", {"id": "first-name", "size": "33"})
        </li> 
        <li> 
            <label for="last-name">Last name:</label> 
            #input("paymentDetails.billingAddress.lastName", {"id": "last-name", "size": "33"})
        </li> 
        <li> 
			<label for="email">Email:</label> 
            #input("paymentDetails.billingAddress.emailAddress", {"id": "email", "size": "33"})
        </li> 
        <li> 
            <label for="card-type">Card type:</label>
            #select("paymentDetails.cardType", $cardTypes, {"id": "card-type"}) 
        </li> 
        <li> 
            <label for="card-number">Card number:</label> 
            #input("paymentDetails.cardNumber", {"id": "card-number", "size": "33"})
        </li> 
        <li> 
            <label for="expiry-date">Expiration date:</label> 
            #input("paymentDetails.cardExpiryDate", {"id": "expiry-date", "size": "33"})            
        </li> 
      </ul>
      <div id="order-actions">
		<a id="continue-shopping" class="continue" href="$base">&laquo; continue shopping</a>
		<button id="order">Submit order</button>
	 </div>
    </form> 
</div>

</body>
</html>