<div class="content">
  <div id="logo">
    <a href="/">
      <img alt="JPetStore" src="/images/logo.png"/>
    </a>
  </div>
  <div id="search-box">
    <form action="/products" method="get">
      <input id="keyword" name="keyword" type="text" size="20"/>
      <button id="search">
        <img src="/images/magnifier.png"/>
      </button>
    </form>
  </div>
  <div id="menu">
    <ul>
      <li id="shopping-cart">
      {{#cart}}
        {{#empty}}
        Cart (0)
        {{/empty}}
        {{^empty}}
        <a href="/cart">Cart ({{totalQuantity}})</a>
        {{/empty}}
      {{/cart}}
      </li>
    </ul>
  </div>
</div>