<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US">
<head>
    <meta content="text/html;charset=UTF-8" http-equiv="Content-Type"/>
    <link href="${base}/stylesheets/main.css?$date.systemTime" media="screen" rel="stylesheet" type="text/css" />
	<link rel="shortcut icon" href="${base}/images/favicon.ico" />
    <title>$title</title>
	$head    
</head>
<body>
<div id="header">
    <a href="/petstore/" id="homelink">Home</a>
    <div id="search-box">
        #parse("/WEB-INF/velocity/includes/searchForm.vm")
    </div>
    <div id="shopping-cart">
		<a href="#">X items</a>
    </div>
</div>
<div id="content">
    $body
</div>
<div id="footer">
<ul>
	<li>iguana</li>
	<li>dog</li>
	<li>cat</li>
	<li>bird</li>
</ul>
</div>
</body>
</html>