<html>
	<head>		
		$head				
	</head>
	<body>
		<div id="header">
			<img src="$base/images/logo.gif" width="50">
			<div id="searchBox">
			#parse ("/WEB-INF/velocity/includes/searchForm.vm")
			</div>
		</div>
		
		<div id="body">
        	$body
        </body>
        
        <div id="footer">        
        	The footer
        </div>
	</body>
</html>
