<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Disable the second-level cache -->
        <property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>
        <property name="format_sql">true</property>

        <!--<mapping package="com.pyxis.petstore.domain"/>-->
        <mapping class="com.pyxis.petstore.domain.product.Product"/>
        <mapping class="com.pyxis.petstore.domain.product.Item"/>
        <mapping class="com.pyxis.petstore.domain.order.LineItem"/>
        <mapping class="com.pyxis.petstore.domain.order.Order"/>
        <mapping class="com.pyxis.petstore.domain.billing.CreditCardDetails"/>
    </session-factory>
</hibernate-configuration>
