<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<p>
    Les naïfs ægithales hâtifs pondant à Noël où il gèle sont sûrs d'être déçus en voyant leurs
    drôles d'œufs abîmés.
</p>
</body>
</html>