<html>
<head>
    <title>PetStore - Products</title>
</head>
<body>
<div id="products">
    #if (!$productList)
        <div id="no-match">No product matching "$keyword" was found</div>
    #else
        <div id="match-found">Found <span
                id="match-count">$productList.size()</span> $display.plural($productList.size(), "result") for
            "$keyword"
        </div>
    #end
    <ul id="catalog">
        #foreach ($product in $productList)
            <li id="product-$product.number">
                <a class="product-link" href="$base/products/$product.number/items">
                    <img src="$base/$attachments.getAttachmentUri($product)"/></a>

                <div class='product-details'>
                    <a href="$base/products/$product.number/items"><span class="product-name">$product.name</span></a>
                    <br/>
                    <span class="product-description">$!product.description</span>
                </div>
            </li>
        #end
    </ul>
</div>
</body>
</html>