<html>
<head>
    <title>PetStore - Items</title>
</head>
<body>
<div id="items">
	#if (!$itemList)
	    <span id="out-of-stock">No item left in inventory</span>
	#else
	    <span id="inventory-count">$itemList.size()</span> $display.plural($itemList.size(), "item") $display.plural($itemList.size(), "is", "are") available for purchase
		<table id="inventory">
			<tr>
				<th>Reference number</th>
	            <th>Description</th>             
	            <th>Price</th>
	            <th></th>
			</tr>
		    #foreach ($item in $itemList)
			 <tr id="item-$item.number">
	            <td class="number">$item.number</td>
	            <td class="description">$!item.description</td>
	            <td class="price">$item.price</td>
	            <td>
	            <form action="$base/cartitems" method="post">
	                <input type="hidden" name="item_number" value="$item.number"/>
					<button class="add-to-cart" id="add-to-cart-$item.number">Add to cart</button>
	            </form>
	            </td>
	        </tr>
			#end
		 </table>
	 #end
	 <div id="items-actions">
		<a id="continue-shopping" class="continue" href="$base/">&laquo; continue shopping</a>
	 </div>
</div>
</body>
</html>