body {
font: 100% "Lucida Sans Unicode", "Lucida Grande", sans-serif;
margin: 0 auto;
width: 960px;
}

img {border-width: 0;}

#header {
background:#fff;
position: relative;
}

#header #shopping-cart{
background: transparent url(../images/shoppingcart.png) no-repeat;
font-size: 1.1em;
height: 50px;
padding: 10px 0 0 50px;
position: absolute;
right: 10px;
top: 65px;
z-index: 10;
}

#content {
}

#logout {
position: absolute;
right: 0px;
top: 45px;
z-index: 100;
}


ol, ul, p {
font-size: 1.2em;
line-height: 1.5;
}

form, fieldset, legend {
border: 0;
padding: 0;
margin: 0;
}

#content fieldset {
border: 1px solid #ccc;
padding-bottom: 25px;
}

#content fieldset legend {
color: #777;
font-size: 1em;
margin: 5px 20px;
}

form ol, form ul {
list-style: none;
margin: -10px 0 0 0;
padding: 0;
}

form li {
margin: 0;
padding: 0;
}

input, select {
background: #ddd;
font: 1em Arial, Helvetica, sans-serif;
padding: 1px 3px;
width: 250px;
}

button {
background: #5E5E5E;
border: 2px outset #555;
color: #fff;
cursor: pointer;
font-size: .9em;
font-weight: bold;
letter-spacing: .1em;
}

button:active {
border: 2px inset #555;
color: #eee;
}

input:focus {
background: #fff;
}

legend {
font-size: 2em;
line-height: 1.8;
padding-bottom: .5em;
}


table#products, table#items, table#cart, table#order-details {
margin: 0 auto;
width: 700px;
}

td.price, td.total {
text-align: right;
}

td.deleteitem {
text-align: center;
width: 35px;
}

#cart-summary td, #summary td {
border: 1px solid #ccc;
border-width: 1px 0;
font-size: 1.25em;
padding: 10px 0;
}

tr.oddrow td {
background-color: #eee;
}

tr.evenrow td {
background-color: #fff;
}

td.photo {
width: 60px;
}

td.photo img {
border: 1px solid black;	
}

td.name {
width: 200px;
}


th {
border-bottom:1px solid black;
text-align: left;
}

#calculations {list-style-type: none;}

#search-box {float: right; padding: 10px 0;}
#search-box fieldset {display: inline;}

a#home-link {background: #fff url(../images/logo.png) no-repeat; display: inline-block; height: 100px; text-indent: -9999px; width: 395px;}
a#home-link:hover {background: #fff url(../images/logo-home.png) no-repeat;}

#actions li {
list-style-type: none;
float: left;
width: 45%;
}

#actions li {
text-align: left;
}
#actions li+li {
text-align: right;
}

#checkout, #payment-details ol, #billing-address ol {
margin: 0 auto;
width: 700px;
}

#payment-details ol li, #billing-address ol li{
list-style-type: none;
}

#checkout fieldset {
border: 0;
}

#checkout #submit {
margin-left: 200px;
}

#checkout label, #payment-details label, #billing-address label {
display: inline-block;
width: 200px;
}

ol.errors {
background-color: pink;
color: red;
font-size: 20px;
list-style-type: none;
margin: 2px 0;
}
}th: 200px;
}width: 200px;
}ock;
width: 200px;
}dth: 200px;
}line-block;
width: 200px;
}