<html>
<head>
    <title>PetStore - Order Receipt</title>
</head>
<body>
<div id="receipt">
    <p>Thank you, order number <span id="order-number">$order.number</span> has been confirmed.</p>

    <table id="order-details">
        <tr>
            <th>Quantity</th>
            <th>Item</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        #foreach ($lineItem in $order.lineItems)
            #if( $count % 2 == 0 )
                #set( $rowStyle = 'backgrounded' )
            #else
                #set( $rowStyle = 'oddrow' )
            #end
            <tr id="line-item-$lineItem.itemNumber" class="$rowStyle">
                <td class="count">$lineItem.quantity</td>
                <td class="text">$!lineItem.itemDescription</td>
                <td class="price">$lineItem.itemUnitPrice</td>
                <td class="total">$lineItem.totalPrice</td>
            </tr>
        #end
        <tr id="order-summary" height="35px;">
            <td colspan="2"></td>
            <td class="price">Grand total:</td>
            <td id="order-total" class="total">$order.totalPrice</td>
        </tr>
    </table>
    <br/><br/>

    <div id="billing-address">
        <p class="title">Billing address</p>
        <ul>
            <li id="first-name">
                <label>First name:</label>
                <span>$order.paymentMethod.billingAddress.firstName</span><br/>
            </li>
            <li id="last-name">
                <label>Last name:</label>
                <span>$order.paymentMethod.billingAddress.lastName</span><br/>
            </li>
            <li id="email">
                <label>Email address:</label>
                <span>$order.paymentMethod.billingAddress.emailAddress</span><br/>
            </li>
        </ul>
    </div>

    <div id="payment-details">
        <p class="title">Payment details</p>
        <ul>
            <li id="card-type">
                <label>Card type:</label>
                <span>$order.paymentMethod.cardCommonName</span><br/>
            </li>
            <li id="card-number">
                <label>Card number:</label>
                <span>$order.paymentMethod.cardNumber</span><br/>
            </li>
            <li id="card-expiry">
                <label>Card expiry date:</label>
                <span>$order.paymentMethod.cardExpiryDate</span><br/>
            </li>
        </ul>
    </div>

    <div id="receipt-actions">
        <a id="continue-shopping" class="continue" href="$base/">&laquo; continue shopping</a>
    </div>
</div>
</body>
</html>