<html>
<head>
  <title>PetStore - Products</title>
</head>
<body>
<div id="products">
  <div id="match-found"><span id="match-count">{{matchCount}}</span> result(s)</div>

  <ul id="catalog">
    {{#products}}
    <li id="product-{{number}}">
      <a class="product-image" href="/products/{{number}}/items">
        <img src="{{#photo}}{{photoFileName}}{{/photo}}"/>
      </a>

      <div class="product-details">
        <a href="/products/{{number}}/items"><span class="product-name">{{name}}</span></a>
        <br/>
        <span class="product-description">{{description}}</span>
      </div>
    </li>
    {{/products}}
  </ul>
</div>
</body>
</html>